<style>
.rating {
    overflow: hidden;
    display: inline-block;
  }
  .rating-input {
    position: absolute;
    left: 0;
    top: -50px;
  }
  .rating:hover .rating-star:hover,
  .rating:hover .rating-star:hover ~ .rating-star,
  .rating-input:checked ~ .rating-star {
    background-position: 0 0;
  }
  .rating-star,
  .rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url("http://i.imgur.com/cFXKunt.png") 0 -16px;
  }




/* Just for the demo */
body {
margin: 20px;
}
</style>
