/* Landing Page Carousel styles*/
#bg-fade-carousel{
	border-color: black;
	line-height: 10%;
	top: -22px;
	background: linear-gradient(
									 rgba(20,20,20, .7),
									 rgba(20,20,20, .7)),
									 url(../img/homepage-bg_mini.jpg);
	height: 45em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.item .slide {
	font-family: Helvetica, sans-serif;
	font-variant: small-caps;
	text-align: center;
	color: white;
}

.carousel-inner{
	top: 40%;
}

.item-p{
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.4;
	color: white;
}

/* register and Login styles*/
#login-panel, #register-panel{
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

/*app page template - footer styles*/
footer{
	text-align: center;
	padding-top: 30px;
padding-bottom: 30px;
}
